@import "partials/normalize";

body {
	background: #fff;
	color: #212121;
	font-family: helvetica,arial,sans-serif;
}

a {
	color: #212121;
}

.container {
	padding: 20px;
}

.name {
	margin: 0;
}

.links {
	list-style: none;
	padding: 0;

	a {
		display: inline-block;
		padding: 8px;
		text-decoration: none;

		&:hover {
			background: #eee;
		}
	}
}
